.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

# Include pre-built dist files for webviews (these are devDependencies)
!node_modules/box-ui-elements/dist/**
!node_modules/box-annotations/dist/**
